body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #007acc;
  --hr: hsla(0, 0%, 0%, 0.2);
  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #2d2d2d;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: #007acc;
  --hr: hsla(0, 0%, 100%, 0.2);
}

body.dark .gist .blob-code-inner, body.dark .gist .blob-num{
  background-color: var(--bg);
  color: var(--textNormal);
}

body.dark .gist .gist-meta{
  background-color: var(--bg);
  color: var(--textNormal);
}

body.dark .gist .gist-meta a{
  color: var(--textLink);
}

header{
  position: relative;
}

button.dark-switcher {
  position: absolute;
  top: 0px;
  right: 0;
  display: flex;
  width: 50px;
  background: none;
  border: none;
  height: 50px;
  outline: none;
}

button.dark-switcher img {
  width: 22px;
  height: 22px;
  margin: 0;
}